body {
  background-color: black;
  color: white;
  font-family: "Press Start 2P", monospace;
}

img {
  width: 120px;
  height: 120px;
}

button {
  font-family: "Press Start 2P", monospace;
  line-height: 60px;
  font-weight: bold;
  font-size: large;
  color: black;
  padding: 0 40px;
  background: #ffcb05;
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
  height: 75px;
  width: 200px;
  font-size: 25px;
  cursor: pointer;
}


button:hover {
  background: #003060;
  color: white;
  position: relative;
  top: 10px;
  box-shadow: none;
}

.announcement {
  font-family: "Permanent Marker", monospace;
  color: orange;
  font-size: 2rem;

}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 30px;
}

.form-container {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.play-ground {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 100px;
}

.control-btns-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.player-cage-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.player-cage-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.arrow {
  width: 30px;
  height: auto;
}

.form-container>.form-right,
.form-container>.form-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.versus {
  display: flex;
  align-items: center;
}

.submit-container {
  display: flex;
  justify-content: center;
}


.start-button {}

.board-grid {
  display: grid;
  grid-template: repeat(3, 150px) / repeat(3, 150px);
  background-color: lightgray;

}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black;
  font-size: 5em;
  color: black;
}

.cell:hover {
  background-color: grey;
  cursor: pointer;
  color: white;
}