.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container{
  display: flex;
  flex-direction: row;
  gap: 100px;
}



.form-container > :nth-child(-n+2){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.submit-container{
  display: flex;
  justify-content: center;
}


.start-button {}

.board-grid {
  display: grid;
  grid-template: repeat(3, 150px) / repeat(3, 150px);
  background-color: red;

}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black;
  font-size: 10em;
}

.cell:hover {
  background-color: green;
  cursor: pointer;
}